:root {
  --bg: #0f0f0f;
  --text: #ffffff;
  --primary: #00ff88;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}

.header {
  padding: 2rem;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.nav a,
.nav button {
  color: var(--primary);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.profile img {
  width: 160px;
  border-radius: 20%;
  border: 2px solid var(--primary);
}

.subtitle {
  opacity: 0.8;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

h2 {
  color: var(--primary);
}

.skills-list
 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid #333;
}

.social a {
  margin: 0 1rem;
  color: var(--primary);
  text-decoration: none;
}

body.light {
  --bg: #ffffff;
  --text: #000000;
  --primary: #007f5f;
}

.social img {
    width: 50px;
}

.experi-list{
  display: flex;
  justify-content: space-between;
}

